body {
  margin: 0;
  background-color: rgb(250, 225, 218);
}
.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Castoro', serif;
}
.container-jewelry {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control-panel {
  display: flex;
  justify-items: space-around;
}
.container-selector {
  background-color: transparent;
  color: rgb(28, 21, 37);
  padding: 10px;
  margin-left: 5px;
  border: 2px solid rgb(28, 21, 37);
  font-family: 'Castoro', serif;
  font-size: 20px;
}
.container-selector:hover {
  font-weight: bold;
}
.selected-type {
  background-color: rgb(28, 21, 37);
  color: rgb(250, 225, 218);
  padding: 10px;
  margin-left: 5px;
  border: 2px solid rgb(28, 21, 37);
  font-family: 'Castoro', serif;
  font-size: 20px;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Castoro', serif;
}
.back {
  background-color: transparent; 
  color: rgb(35, 29, 44);
  padding: 10px;
  font-family: 'Castoro', serif;
}

.btn {
  background-color: transparent;
  color: rgb(28, 21, 37);
  padding: 10px;
  border: 2px solid rgb(28, 21, 37);
  font-family: 'Castoro', serif;
}

h2, h3, h4 {
  font-family: 'Castoro', serif;
  color: rgb(28, 21, 37 );
}
.banner {
  position: relative;
  margin: 0;
}
.banner-img {
  width: 100%;
  height: auto;
}
.banner-message {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font-family: 'Allura', cursive;
  color: rgb(28, 21, 37 );
  font-size: 30px;
}
.container-slides {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}
.container-slides-one {
  display: flex;
  justify-content: center;
}
.slide-img {
  width: 600px;
}
.slide-btn {
  background-color: transparent;
  border: none;
}
button {
  margin: 10px;
}
.shop-btn {
  background-color: transparent;
  border: none;
}
.shop-img {
  width: 40px;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  background-color: rgb(35, 29, 44);
}
.links {
  display: flex;
  flex-wrap: wrap;
}
.link {
  padding: 10px 40px;
  text-decoration: none;
  font-family: 'Castoro', serif;
  font-weight: bolder;
}
.link-logo {
  margin-top: 10px;
}
.link-icon {
  font-size: 11px;
  color:rgb(250, 225, 218);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.logo-img {
  width: 30px;
}
.logo {
  font-family: 'Allura', cursive;
  font-size: 35px;
  color:rgb(250, 225, 218)
}
.nav-icon {
  width: 35px;
}
.text-icon {
  font-size: 12px;
}
.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Castoro', serif;
  color: rgb(28, 21, 37 );
}
.contact-icon {
  width: 50px;
}
ul {
  list-style: none;
  font-weight: bolder;
  font-size: 20px;
}
li {
  padding: 10px;
}
.text {
  font-size: 18px;
  font-family: 'Castoro', serif;
  color: rgb(35, 29, 44);
}
.show-more {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-family: 'Castoro', serif;
  color: rgb(135, 113, 169);

}
.container-footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.container-icons {
  display: flex;
  flex-direction: row;
}
.line {
  color: rgb(35, 29, 44);
}
.container-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.container-cart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.container-loading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}
.cart-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.contact-element {
  display: flex;
  align-items: center;
  font-family: 'Castoro', serif;
  color: rgb(28, 21, 37 );
  font-size: 30px;
}
.footer-icon {
  width: 40px;
}
.footer-element {
  margin-left: 5px;
  margin-right: 5px;
}
.log-btn {
  background-color: transparent;
  color: rgb(28, 21, 37);
  padding: 10px;
  border: 2px solid rgb(28, 21, 37);
  font-family: 'Castoro', serif;
  font-size: 18px;
  font-weight: bolder;
}

@media all and (max-width: 800px) {
  .link {
    font-size: 25px;
    padding: 0 0;
    margin: 4px;
  }
  nav {
    justify-content: center;
  }
  .nav-icon {
    width: 30px;
  }
  .banner-message {
    font-size: 20px;
    top: 20%;
  }
  .slide-img {
    width: 400px;
  }
}

@media all and (max-width: 500px) {
  .banner-message {
    font-size: 16px;
    top: 20%;
  }
  .slide-img {
    width: 300px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 17px;
  }
  h4 {
    font-size: 15px;
  }
  .text {
    font-size: 14px;
  }
  .show-more {
    font-size: 13px;
  }
  .link {
    font-size: 25px;
    padding: 0 0;
    margin: 4px;
  }
  nav {
    justify-content: center;
  }
  .nav-icon {
    width: 30px;
  }
  .contact-element {
    font-size: 20px;
  }
  .contact-icon {
    width: 35px;
  }
  .shop-img {
    width: 30px;
  }
  .footer-icon {
    width: 30px;
  }
}